html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


:root {
  --color_beige: #FCE6BD;
  --color_red: #DD423A;
  --color_blue: #7997A6;
  --color-black: #1A1919;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
"header header"
"nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.app-wrapper-content {
  grid-area: content;
  max-width: 100%;
  background-color: var(--color_beige);
  padding: 30px;
  border: 2px solid var(--color_red);
  border-radius: 25px;
}

